<div class="container">
  <h1>Hero Form</h1>
  <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label for="name">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" id="alterEgo" class="form-control" formControlName="alterEgo">
    </div>
    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" formControlName="power">
        <option *ngFor="let p of powerArr" [value]="p.id">{{p.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="sampleForm.get('power').value == 4">
      <label for="temperature">Temperature</label>
      <input type="text" id="temperature" class="form-control" formControlName="temperature">
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control" formControlName="phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>