/* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
} */
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.ng-valid:not(form)  {
    border-left: 5px solid #42A948; /* green */
}